<div class="span2"></div>
<div id="cont" class="span8 promo">
	<div class="deal price">
		<span>My decks</span>
		<span>Manage your decks.</span>
	</div>
	<span class="form-inline">
		<%= link_to "Back To Servers", game_servers_path, :class=>"btn btn-inverse" %>
		<%= link_to "Create", new_user_deck_path, :class=>"btn btn-success" %>
	</span>
	<table class="table table-condensed  dark-table">
		<th>Name</th>
		<th></th>
		<% @decks.each do |deck| %>
		<tr>
			<td><%= link_to deck.name, user_deck_path(deck.id) %></td>
			<td>
				<div class="btn-group">
					<button class="btn dropdown-toggle btn-inverse" data-toggle="dropdown">
						Action
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><%= link_to "Edit", edit_user_deck_path(deck.id) %></li>
						<li><%= link_to 'Destroy', user_deck_path(deck.id), confirm: 'Are you sure?', :method => :delete %></li>
					</ul>
				</div>
			</td>
		</tr>
		<% end %>
	</table>
</div>
<div class="span2"></div>