<% content_for(:head) do %>
	<%= javascript_include_tag 'game/apprise-v2.min.js' %>
	<%= javascript_include_tag 'user/decks' %>
	<%= stylesheet_link_tag 'game/apprise-v2.min.css.scss', :media => "all"  %>
<% end %>

<div class="span1"></div>
<div id="cont" class="row-fluid span10">
	<div class="span6 promo">
		<div class="deal price">
    		<span>Available cards</span>
    		<span>Start by picking a Hq</span>
  		</div>
  	<div class="promo">
		<div class="row-fluid">
			<ul class="thumbnails" id="headquarters">
				<% @headquarters.each_with_index do |card, index| %>	
					<li class="span4" data-cid="<%= card.id %>">
						<div class="thumbnail">
							<%= image_tag card.avatar.url %>
							<table class="table table-hover table-condensed">
								<tr><td><b><%= card.name %> - <%= card.faction.name %></b></td><td></td></tr>
								<tr><td>Attack</td><td><%= card.atk %></td></tr>
								<tr><td>Defence</td><td><%= card.def %></td></tr>
								<tr><td>Flux</td><td><%= card.energy %></td></tr>
								<tr><td>Upkeep</td><td><%= card.upkeep %></td></tr>
							</table>
						</div>
					</li>
				<% end %>
			</ul>
		</div>


		<div class="deal price">
    		<span>Unit Cards</span>
    		<span>Pick 39 of these, but no more than 4 of each</span>
  		</div>
		<div class="row-fluid">
			<ul class="thumbnails" id="available">
				<% @cards.each_with_index do |card, index| %>	
					<li class="span4" data-cid="<%= card.id %>">
						<div class="thumbnail">
							<%= image_tag card.avatar.url %>
							<table class="table table-hover table-condensed">
								<tr><td><b><%= card.name %> - <%= card.faction.name %></b></td><td></td></tr>
								<tr><td>Attack</td><td><%= card.atk %></td></tr>
								<tr><td>Defence</td><td><%= card.def %></td></tr>
								<tr><td>Flux</td><td><%= card.energy %></td></tr>
								<tr><td>Upkeep</td><td><%= card.upkeep %></td></tr>
								<tr><td>Probe effect</td><td></td></tr>
								<tr><td colspan="2"><%=raw effect_builder(card.scout) %></td></tr>
								<tr><td>Flip effect</td><td></td></tr>
								<tr><td colspan="2"><%=raw effect_builder(card.flip) %></td></tr>
							</table>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div></div>
	<div class="span6 promo">
		<div class="deal price">
    		<span>Your selected Hq</span>
    		<span>You need one Hq</span>
  		</div>
  		<p>Deck Name:</p>
		<%= text_field_tag 'deck_name', nil, :placeholder => 'Name your deck' %>
		<button id="save" class="btn btn-inverse pull-right">Save deck</button>
		
		<div class="row-fluid">
			<div class="span4"></div>

			<ul class="thumbnails" id="selected-hq">
			</ul>
			<div class="span4"></div>
		</div>

		<div class="deal price">
			<span>Your selected cards</span>
    		<span> </span>
    		<div id="selected-cards">
    		<span>0/39</span>
    	</div>
  		</div>
		<div class="row-fluid">
			<ul class="thumbnails" id="selected">
			</ul>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span1">
			<div class="sidebar-nav sidebar-nav-fixed">
				<div id="selected-cards"><span class="label label-inverse">0/39</span></div>
			</div><!--/.well -->
		</div><!--/span-->
		<div class="span9">
			
		</div><!--/span-->
	</div><!--/row-->

</div><!--/.fluid-container-->